<h2>Korean Dining Advisor</h2>
<p class="lead">
<div class="jumbotron" ng-repeat="meal in meals">
	<table>
		<tr>
			<td rowspan="3">
				<img class="mealPhoto" src="/meals/images/{{meal.photoUrl}}" alt="Meal photo" height="120">
			</td>
			<td>
				Korean Name:
			</td>
			<td>
				{{ meal.koreanName }}
			</td>
		</tr>
		<tr>
			<td>
				English Name:
			</td>
			<td>
				{{ meal.englishName }}
			</td>
		</tr>
		<tr>
			<td>
				Description:
			</td>
			<td>
				{{ meal.description }}
			</td>
		</tr>
	</table>
</div>
